<style>
    body {
      margin: 0;
      font-family: Arial;
    }
    
    .topnav {
      overflow: hidden;
      background-color:rgb(30, 112, 219);
    }
    
    .topnav a {
      float: left;
      color: #f2f2f2;
      text-align: center;
      padding: 15px 16px;
      text-decoration: none;
      font-size: 13px;
    }
    
    </style>
  <div class="topnav">
    <a class="active" href="/">Home</a>
    <a href="/album">View Albums</a>
    <a href="/upload">Upload Picture</a>
    <a href="/leaderboard">Leaderboard</a>
    <a href='/friends'> Find Friends</a>
    <a href='/searchbytag'> Search by Tags</a>
    <a href='/viewtag'> View Tags</a>
    <a href='/viewallfriends'> View All Friends</a>
    <a href='/searchbycomment'>Search by Comment</a>
    <a href='/recphoto'>Recommended Photos</a>
    <a href="/logout">Logout</a>
    <a href='/delete'> Delete your account</a>
  </div>
  <center>
  <h1> List Multiple Tags</h1>
  
  <form method="post">
    <input type="text" placeholder="List Tags" name="searchtag"><br><br>
    <br><br>
    <input type="submit" />
  </form>
  {% if searches %}
      <h2>Search Results:</h2>
    {% for search in searches %}
    <a href='/likepicture?photoid={{search[0]}}'>Likes: {{search[2]}} OR Like Photo OR View Likes</a><pre></pre>Caption:{{search[3]}}<pre><a href='/viewcomment?photoid={{search[0]}}'>View/Write Comments</a></pre>
    <pre></pre>
    <a href='/tagsforphoto?photoid={{search[0]}}'>View Tags</a><br><br>
  <img src='data:image/jpg;base64, {{ base64.b64encode(search[1]).decode("ascii") }}'/></li><br><br>

    {% endfor %}
  {% endif %}
  
  {% if poptags %}
  <h2>Here are the Most Popular Tags:</h2>
  <table>
      <th> Tag </th>
      <th> Count </th>
{% for poptag in poptags %}
<tr>
<td><center><a href='/tagforphoto?keyword={{poptag[0]}}&option=2'>{{poptag[0]}}</a></center></td>
<td><center>{{poptag[1]}}</center> </td>
</tr>
{% endfor %}
    </table>

{% endif %}
  </center>