<style>
    body {
      margin: 0;
      font-family: Arial;
    }
    
    .topnav {
      overflow: hidden;
      background-color:rgb(30, 112, 219);
    }
    
    .topnav a {
      float: left;
      color: #f2f2f2;
      text-align: center;
      padding: 15px 16px;
      text-decoration: none;
      font-size: 13px;
    }
    
    </style>
  <div class="topnav">
    <a class="active" href="/">Home</a>
    <a href="/album">View Albums</a>
    <a href="/upload">Upload Picture</a>
    <a href="/leaderboard">Leaderboard</a>
    <a href='/friends'> Find Friends</a>
    <a href='/searchbytag'> Search by Tags</a>
    <a href='/viewtag'> View Tags</a>
    <a href='/viewallfriends'> View All Friends</a>
    <a href='/searchbycomment'>Search by Comment</a>
    <a href='/recphoto'>Recommended Photos</a>
    <a href="/logout">Logout</a>
    <a href='/delete'> Delete your account</a>
  </div>
<h1> <center>View Tags</center></h1>
<center>
{% if photos %}
    <img src='data:image/jpg;base64, {{ base64.b64encode(photos[1]).decode("ascii") }}'/><br>
    Number of Likes: {{photos[2]}}
{% endif %}
<br><br><br><br>

{% if tags %}
<table style="width:75%">
  <th>Tag</th>
{% for tag in tags %}
<tr>
  <td><Center><a href='/tagforphoto?keyword={{tag[0]}}&option=2'>{{tag[0]}} </a>
</tr>
</table>
{% endfor %}
{% endif %}